<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--link to our own style sheet-->

</head>

<body>
    <header>
        <nav id="header-nav" class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <div class="navbar-header">
                    <a href="home.html" style="margin: 0px;">
                        <div id="logo"></div>
                    </a>
                </div>

                <button type="button" class="navbar-toggler collapsed" onclick="" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false" aria-label="toggle navigation">
                    <span class="container toggle-bar" onclick="myFunction(this)">
                        <div id="" class="bar bar1"></div>
                        <div id="" class="bar bar2"></div>
                        <div id="" class="bar bar3"></div>
                    </span>
                </button>
                <div id="collapsable-nav" class="collapse float-right navbar-collapse justify-content-end">
                    <div class="d-flex flex-row flex-sm-row-reverse justify-content-around">
                        <div class="p-2"> <button type="button" class="btn nav-link" id="imp" data-toggle="modal" data-target="#login">
                            Login/SignUp
                          </button>
                            <!-- <a href="#" id="imp" data-target="#login" class="btn nav-link">Login</a> -->
                        </div>
                        <div class="p-2"><a href="contactus.html" class="nav-link">About</a></div>
                        <div class="p-2"><a href="contactus.html" class="nav-link">Contact</a></div>
                    </div>
                </div>

            </div>
        </nav>
        <!-- navbar end -->
    </header>


    <div class="container-fluid row align-items-center homeBG" style="margin: 0px;">
        <img src="../templates/logo.svg" class="img-fluid" id="homeBG-logo" alt="">
    </div>
    <div class="home-main-content"><br>
        <div class="text-center highlight-big">MEET THE DEVELOPERS</div>
        <!-- <div class="text-center medium" id="medium-home">We made this website using various tools like Html,Bootstrap, CSS, Javascript,Django to enhance the features and interactivity.</div> -->
        <br>
    </div>

        <div class="container">
            <div class="row mt30">
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <div class="team-wrapper">
                            <img src="./images/muskan.png" class="img-responsive" alt="team img">
                            <p class="highlight-big">MUSKAN</p>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <div class="team-wrapper">
                            <img src="images/arnaav.png" class="img-responsive" alt="team img">
                            <p class="highlight-big">ARNAAV</p>
                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <div class="team-wrapper">
                            <img src="images/muazzam.png" class="img-responsive" alt="team img">
                            <p class="highlight-big">MUAZZAM</p>

                        </div>
                    </div>
                </div>
            </div>
        </div> 











<br><br><br>

<!-- >>>>>>>>>>>>>>> footer -->
<hr>
<footer class="site-footer" style="">
    <div class="container">
            <div class="row justify-content-around">
                <div class=""><a href="">About Us</a></div>
                <div class=""><a href="">FAQs</a></div>
                <div class=""><a href="">Contact Us</a></div>
                <div class=""><a href="">Attributes</a></div>
            </div>    
    </div>
    <a href="" class="copyright-text"> Meet the developers!</a>
    <hr id="hr-sm">
    <div class="container">
        <p class="copyright-text text-center">Copyright &copy; 2020 </p>
        
        
    </div>
</footer>

</body>
</html>