<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bootstrap Starter Page</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css"><!--link to our own style sheet-->

    </head>
    <body>
        <!-- jQuery (bootstrap js plugins depend on it)-->
        <script src="js/jquery-3.4.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script><!--our own js file-->


        <div class="jumbotron">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quae debitis eos hic accusamus sunt harum doloremque asperiores, dolorem nobis quaerat beatae unde quisquam, odit corrupti magnam ipsum fugit sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quidem odit totam hic nihil error obcaecati odio maiores excepturi ipsa, aut aliquam dolor expedita voluptas veritatis et inventore exercitationemLorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nesciunt hic quae modi vel voluptatum possimus vero totam repellat quisquam voluptatibus eligendi nam, ea facere ipsam quaerat accusam</p>
        </div>
        <h1>GET STARTED</h1>
    </body>
</html>