<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bootstrap Starter Page</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css"><!--link to our own style sheet-->

    </head>
    <body>
        <!-- jQuery (bootstrap js plugins depend on it)-->
        <script src="js/jquery-3.4.2.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script><!--our own js file-->

        <header>
            <nav id="header-nav" class="navbar navbar-expand-md navbar-dark">
                <div class="container">
                    <div class="navbar-header">
                        <a href="home.html" style="margin: 0px;">
                            <div id="logo"></div>
                        </a>
                    </div>
    
                    <button type="button" class="navbar-toggler collapsed" onclick="" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false" aria-label="toggle navigation">
                        <span class="container toggle-bar" onclick="myFunction(this)">
                            <div id="" class="bar bar1"></div>
                            <div id="" class="bar bar2"></div>
                            <div id="" class="bar bar3"></div>
                        </span>
                    </button>
                    <div id="collapsable-nav" class="collapse float-right navbar-collapse justify-content-end">
                        <div class="d-flex flex-row flex-sm-row-reverse justify-content-around">
                            <div class="p-2"> 
                                <button type="button" class="btn nav-link" id="imp" data-toggle="modal" data-target="#login">
                                Sell
                                </button>
                                <!-- <a href="#" id="imp" data-target="#login" class="btn nav-link">Login</a> -->
                            </div>
                            <div class="p-2"><a href="#" class="nav-link">Cart</a></div>
                            <div class="p-2"><a href="#" class="nav-link">Help</a></div>
                            <form action="" class="p-2" style="margin-bottom: 0; margin-right: 20px;">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                    </div>
    
                </div>
            </nav>
            <!-- navbar end -->
        </header>
        <br>
        <div class="headline text-center">Explore! </div>

        <div class="container">
            

            <br>


            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">

            <div class="row product-row justify-content-around">
                <div class="col-lg-2 d-none d-lg-block"><img src="https://via.placeholder.com/100"  alt=""></div>
                <div class="col-3 d-md-block d-lg-none"><img src="https://via.placeholder.com/60" alt=""></div>
                <div class="col-lg-8 col-9 row">
                    <div class="col-lg-12 book-name headline">Name of Book</div>
                    <div class="col-lg-12 text-right headline" style="font-size: 1.3rem;">Price</div>
                </div>
                <br class="d-none">
                <div class="col-lg-2 row">
                    <div class="col-lg-12 col-6 highlight-big text-right">70%</div>
                    <div class="col-lg-12 col-6">
                        <button type="button" class="btn float-right" id="imp" data-toggle="modal" data-target="#buy" style="padding-left: 30px; padding-right: 30px;">
                        Buy
                        </button>
                    </div>
                </div>
            
            </div><hr class="hr-sm">


            


<br>
        <hr>
         <!-- >>>>>>>>>>>>>>> footer -->
    <footer class="site-footer">
        <div class="container">
                <div class="row justify-content-around">
                    <div class=""><a href="contactus.html">About Us</a></div>
                    <div class=""><a href="">FAQs</a></div>
                    <div class=""><a href="">Contact Us</a></div>
                    <div class=""><a href="">Attributes</a></div>
                </div>    
        </div>
        <a href="contactus.html" class="copyright-text"> Meet the developers!</a>
        <hr id="hr-sm">
        <div class="container">
            <p class="copyright-text text-center">Copyright &copy; 2020 </p>
            
            
        </div>
    </footer>
    </body>
</html>